@keyframes animacao{
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -101%;
    }
    45% {
        margin-left: -101%;
    }
    50% {
        margin-left: -201%;
    }
    70% {
        margin-left: -201%;
    }
    75% {
        margin-left: -321%;
    }
    90% {
        margin-left: -321%;
    }
    100% {
        margin-left: -430%;
    }
    100% {
        margin-left: -430%;
    }
}

@keyframes entradaEsquerda{
    from{
         transform: translateX(-300px);
    } 
    to{
         transform: translateX(0);
    }
}

@keyframes entradaDireita {
 from{
     transform: translateX(+300px);
 } to{
     transform: translateX(0)
 }
}

@keyframes entradaDeBaixo {
 from{
     transform: translateY(300px);
 } to{
     transform: translateY(0);
 }
 
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



.container{
 display: block;
 text-align: center;
 padding: 5px;
}

.foto{
 display: inline-block;
 width: 30vh;
 height: 30vh;
 border-style: solid;
}

.f1{
 animation-name: entradaEsquerda;
 animation-duration: 2s;
 transition: steps();
 transition-timing-function: ease;
}

.f2{
 animation-name: entradaDeBaixo;
 animation-duration: 4s;
 transition-timing-function: ease;
}

.f3{
 animation-name: entradaDireita;
 animation-duration: 2s;
 transition-timing-function: ease;
}

.menuAnimado{
    animation-name: fadein;
    animation-duration: 1s;
    transition-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.setaProximo{
    display: inline-block;
    float: right;
}

.setaAnterior{
    display: inline-block;
    float: left;
}