@keyframes animacao{
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -101%;
    }
    45% {
        margin-left: -101%;
    }
    50% {
        margin-left: -201%;
    }
    70% {
        margin-left: -201%;
    }
    75% {
        margin-left: -301%;
    }
    90% {
        margin-left: -301%;
    }
    100% {
        margin-left: -420%;
    }
    100% {
        margin-left: -420%;
    }
}