
button {
    cursor: pointer;
    outline: none;
    padding: 20px 28px;
    background: none;
    transition: box-shadow 0.2s;
    color: black;
    border: 0px solid #1d1f20;
    text-align: center;
    border-radius: 5px;
}
  
button:hover {
    border: 0px;
    color: #6e1899;
    border-radius: 5px;
    box-shadow: 13px 20px 55px #e089dc, 0px 0px 15px #f281f0 inset;
    text-shadow: 0px 0px #ecc6f0, 0px 0px 3px #d5a9ea;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
