
.main{
    position: relative;
    margin: auto;
    padding: 5px;
    width: 100%;

}

.gallery{
    width: 50%;
    height: 18vh;
    border-radius: 21px;
    border: 2px solid black;
    padding: 0;
    margin: auto;
    overflow: hidden; 
    background-image: url("../assets/arte/smalllogo.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.gallery .fotos{
    display: inline-block;
    width: 500%;  
    animation-name: animacao;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.gallery .fotos img {
    width: 10%;
    border-radius: 10%; 
}