body{
    max-height: 20000px;
}

.item {
    display: flex;
    width: 337px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 0px 200px black;
}

.galeria {
    display: flex;
    margin: auto;
    text-align: center;
    position: sticky;
    z-index: -1000;
   
}

.fixo{
    font-size: 5vh;
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.item2, .item3, .item4{
    visibility: hidden;
}