
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');


:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

section{
    width: 78%;
    margin: auto;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.162);
}

.redes{
    position: relative;
    right: 0;
}

.bg_video{
	position: fixed; 
    box-sizing: border-box;
	right: 0; 
	bottom: 0;
    top: 0;
    left: 0;
    overflow: hidden;
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	z-index: -1000;
	background: url("../assets/arte/biglogo.png") no-repeat;
	background-size: cover; 
}


.descricao{
    box-sizing: border-box;
    font-size: 18px;
    text-align: justify;
}


nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 3px solid black;
    margin: auto;
    padding: 0;
    border-radius: 1px;
}

#imgTopo{
    display: flex;
    width: 20vw;
    padding: 0;
    margin: auto;
 }

 #imgCapa{
    display: block;
    width: 370px;
    height: 370px;
    margin: auto;
    padding: 0;
    
 }

 #imgHome{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
 }

 .redeSocial{
    display: flex;
    float: right;
    margin: auto;
 }
 
#menu-item{
    display: flex;
    float: right;
    list-style-type: none;
    margin: auto;
    padding: 10px;
}

#menu-item li{
    border-radius: 50%;
}

#menu li{
    
    list-style-type: none;
    text-align: center;
    color: white;
    margin: auto;
}
#navMenu{
   display: block;
}

header > h1 > a, header > h1{
    display: block;
    position: relative;
    text-align: center;
    margin: auto;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 5vw;
    padding: 20px;
}

h2{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 5vw;
    padding: 0;
}

p{
    padding-bottom: 21px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 139, 0.129);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.508);
    color: white;
    display: inline-block;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.399);
}

section#img01{
    background-image: url('../assets/rayara/img02.jpeg');
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

section#img02{
    display: flex;
    background-image: url('../assets/rayara/img06.jpeg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;

}

footer{
    display: block;
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 5px;
    margin: auto;
}

footer a{
    color: white;
    text-decoration: none;
}

#socialmediaicons{
    list-style-type: none;
}

.servicos{
    width: 100%;
    height: 100%;
    z-index: -1000;
 }


 #clientes{
    border-radius: 0%;
 }

 #agenda{
    width: 100%;
 }

 
 #inscreva-se, #fraseRandomica{
    display: block;
    margin: auto;
    top: 0;
    position: relative;
 }

 #imgRandom, #textoInicio{
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    padding: 20px;
 }