
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

:root{
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;

}

#containerHome{
    display: ;

}

#logoHome{
    position: absolute;   
}

#menu{
    list-style: none;
    float: left;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
    background-color: black;
    margin: auto;
    padding: 16px;
    box-sizing: border-box;
   
}

#menu li a{
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

#menu li a:hover{
    color: white;
}

#menu li a:visited{
    text-decoration: none;
    color: white;
}

#menu li a::before{
    color: black;
}

#menu li a::after{
    color: white;
}

#menu li:hover{
    background-color: chocolate;
}

.descricao{
    box-sizing: border-box;
    font-size: 18px;
    text-align: justify;
}


header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 139, 0.129);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.508);
    color: white;
    display: inline-block;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.399);
}

section#img01{
    background-image: url('../assets/biglogo.png');
    background-position: right center;
}

section#img02{
    background-image: url('../assets/garota2.jpeg');

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    padding: 10px;
}
