

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

#containerHome{
    display: ;

}

#logoHome{
    position: absolute;   
}

#menu{
    list-style: none;
    float: left;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
    background-color: black;
    margin: auto;
    padding: 16px;
    box-sizing: border-box;
   
}

#menu li a{
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

#menu li a:hover{
    color: white;
}

#menu li a:visited{
    text-decoration: none;
    color: white;
}

#menu li a::before{
    color: black;
}

#menu li a::after{
    color: white;
}

#menu li:hover{
    background-color: chocolate;
}

.descricao{
    box-sizing: border-box;
    font-size: 18px;
    text-align: justify;
}

main{
    
}

footer{
    text-align: right;
}